<ion-view ng-controller="FotoUnicaController">
  <ion-nav-title>Pic2You</ion-nav-title>

  <ion-content>
    <img ng-src={{data.foto}} style="width: 301px; height : auto"/>
  </ion-content>

  <ion-footer-bar class="bar-stable">
    <div class="tabs tabs-icon-left">
      <a class="tab-item" ng-click="goHome()">
        <i class="icon ion-home" item-left  ></i>
        Home
      </a>
      <a class="tab-item" ng-click="goGaleria()">
        <i class="icon ion-images" item-right></i>
        Galeria
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
