<ion-view ng-controller="ListagemController">
  <ion-nav-title><div align="middle">Edição</div></ion-nav-title>



  <ion-content>
    <ion-list can-swipe="true" can-swipe="true">
      <ion-item class="item-thumbnail-left item-text-wrap" ng-repeat="item in listaFotos" ng-click="enviarEscolhada($index)">

          <img ng-src="{{item.fotos[0].src}}">

        <ion-option-button class="button-positive" ng-click="listaFotos.splice($index, 1)">
          Delete
        </ion-option-button>
        Imagem {{$index+1}}

      </ion-item>


      <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">
          <div class="col-offset-75">
              <button style="background-color: #eeffe6; margin-top:10px; color:#006600; border-color: #006600;font-weight: bold;" ng-model="button" ng-click="enviar()" class="button button-small button-positive">&nbsp;&nbsp;&nbsp;Enviar&nbsp;&nbsp;&nbsp;</button>
          </div>
      </div>

      <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">

      </div>

      <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">

      </div>



    </ion-list>
  </ion-content>


    <div class="tabs tabs-icon-left">
      <a class="tab-item" ng-click="voltaListagem()">
        <i class="icon ion-home" item-left  ></i>
        Home
      </a>
      <a class="tab-item" href="#/listagem">
        <i class="icon ion-images" item-right></i>
        Galeria
      </a>
    </div>

</ion-view>
