<ion-view ng-controller="ListagemController">
<ion-nav-title>Pic2You   </ion-nav-title>
       <ion-nav-bar class="bar bar-positive">



       </ion-nav-bar>

<ion-content>


<!--div ng-repeat="item in listaDeFotos">
       <div class="row">
        	{{item.nome}}
       </div>
        <div class="row" ng-repeat="foto in item.listaPalavras" ng-click="mudaRota($index)">
          	{{foto.label}}
          	{{foto.valor}}
        </div>
 </div>   -->



  <ion-list>
        <ion-item can-swipe="true" ng-repeat="item in fotos">
          <div class="row">
            <div align="middle">
              <img ng-src="{{item.src}}" style="width: 301px; height : auto">
            </div>
            <ion-option-button class="button-positive"
                               ng-click="fotos.splice($index, 1)">
              Delete
            </ion-option-button>
          </div>
        </ion-item>
      </ion-list>


 <ion-list
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">

  <ion-item ng-repeat="item in listaDeFotos">


 <div class="row">
        	{{item.nome}}
       </div>

       <div class="row" ng-repeat="foto in item.listaPalavras" ng-click="mudaRota($index)">
          	{{foto.label}}
          	{{foto.valor}}
        </div>
    <ion-option-button class="button-positive"
                       ng-click="listaDeFotos.splice($index, 1)">
      Delete
    </ion-option-button>

  </ion-item>

<div >


  <ion-item>
    <div class="titulo">
        <div><span>Palavras Chaves</span>
          <i class="ion-plus-circled" ng-click="adicionaLinha()" data-pack="default" data-tags="+"></i>
    </div></div>
  </ion-item>

      <ion-item ng-repeat="it in vizualizaFotos">
        <div class="row">
          <div class="col-md-8">
            <input type="text" placeholder="Nome{{$index+1}}" class="form-control" ng-change="search()" ng-model='it.nome'>
          </div>
          <div class="col-md-8">
            <input type="text" placeholder="Palavra{{$index+1}}" class="form-control" ng-change="search()" ng-model='it.valor'>
          </div>
            <ion-delete-button class="ion-minus-circled"
                 ng-click="vizualiza.splice($index, 1)">
            </ion-delete-button>
        </div>


          <ion-option-button class="button-positive"
                             ng-click="vizualizaFotos.splice($index, 1)">
            Delete
          </ion-option-button>



</ion-item>



  </div>


</ion-list>



      <div class="row item item-button-right">
        <div class="col-md-4">

          <button ng-model="button" ng-click="enviar($index)" class="button button-small button-positive">ENVIAR</button>


        </div>

      </div>





</ion-content>
 <ion-footer-bar class="bar-stable">
         <div class="tabs tabs-icon-left">
          <a class="tab-item" ng-click="voltaListagem()">
          <i class="icon ion-home" item-left  ></i>
          Home
        </a>
          <a class="tab-item" href="#/listagem">
        <i class="icon ion-images" item-right></i>
        Galeria
        </a>
        </div>
      </ion-footer-bar>
</ion-view>
