<ion-view ng-controller="MainController">
<ion-nav-title><div align="middle">Pic2You</div></ion-nav-title>


  <ion-content>
        <div class="corpo" style="color:white">
          <div class="container">
            <div>
              <ion-list can-swipe="true">
                <ion-item ng-repeat="item in fotos">
                  <div class="row">
                    <div align="middle">
                      <img ng-src="{{item.src}}" style="max-width : 300px; width: auto; height : auto">
                    </div>
                    <ion-option-button class="button-positive"
                          ng-click="fotos.splice($index, 1)">
                          Delete
                    </ion-option-button>
                  </div>
                </ion-item>
                <ion-item ng-if="showTakePick">
                  <div style="text-align: center;">
                    <img ng-src="img/fundo.png" ng-click="takePicture()" style="max-width : 80px; width: auto; height : auto"/>
                  </div>
                </ion-item>
              </ion-list>
            </div>
            <div>
              <div class="row teste">
                <div class="col">
                  <span>Palavras Chaves</span>
                </div>
                <div style="float: right; margin-top:5px; margin-right:42px">
                  <i style="font-size: 20px" class="ion-plus" ng-click="adicionaLinha()" data-pack="default" data-tags="+"></i>
                </div>
              </div>

              <ion-list can-swipe="true" show-delete="shouldShowDelete">
                <ion-item ng-repeat="item in vizualiza">
                  <div class="row">
                    <div class="col-md-8">
                      <input type="text" placeholder="Nome{{$index+1}}" class="form-control" ng-change="search()" ng-model='item.nome'>
                    </div>
                    <div class="col-md-8">
                      <input type="text" placeholder="Palavra{{$index+1}}" class="form-control" ng-change="search()" ng-model='item.valor'>
                    </div>
                    <ion-option-button class="button-positive" ng-click="vizualiza.splice($index, 1)">
                      Delete
                    </ion-option-button>
                  </div>
                </ion-item>
              </ion-list>


              <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">
                  <div class="col-offset-75">
                      <button style="background-color: #eeffe6; margin-top:10px; color:#006600; border-color: #006600;font-weight: bold;" ng-model="button" ng-click="enviar()" class="button button-small button-positive">&nbsp;&nbsp;&nbsp;Salvar&nbsp;&nbsp;&nbsp;</button>
                  </div>
              </div>

              <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">

              </div>

              <div class="row" style="height : 50px; background-color: #f2f2f2; border-style: solid;">

              </div>

            </div>
          </div>
        </div>




    </ion-content>

    <div class="tabs tabs-icon-left" style="background-color: #f2f2f2;">
      <a  style="color : #527a7a;" class="tab-item"   href="#/main" >
        <i class="icon ion-home" item-left></i>
        Home
      </a>
      <a  style="color : #527a7a;" class="tab-item" ng-click="goGaleria()">
        <i class="icon ion-images" item-right></i>
        Galeria
      </a>
    </div>
  </ion-view>
