/* Empty. Add your own CSS if you like */
.icon {
   font-size: 30px;
}
.teste {
  background-color:#006600;
}

.corpo {
  background-color:#eeffe6;
}

.scroll-content {
background-color:#f2f2f2;

}

input{
background-color:#eeffe6;
}

.item{

background-color:inherit;
}

.item-content{
  background-color:#eeffe6 !important;
}
